In [42]:
# imports
import requests
from bs4 import BeautifulSoup
r = requests.get('https://www.vendeeglobe.org/fr/classement/20210305_080000')
soup = BeautifulSoup(r.content)
dates = []
for date_tag in soup.find('select', attrs={'class': 'form__input m--select onsubmit-rank'}).findAll('option'):
    dates.append(date_tag.attrs['value'])
dates[1:];

In [ ]:
for date in dates[1:]:
    var = requests.get('https://www.vendeeglobe.org/download-race-data/vendeeglobe_'+date+'.xlsx')
    with open(f'D{date}.xlsx', 'wb') as f:
        f.write(var.content)

In [41]:
import glob
import pandas as pd


# get data file names
path =r'C:\Users\FRIKHA\OneDrive\Projet_kit_data_finale\excels'
filenames = glob.glob(path + "/*.xlsx")


df = pd.DataFrame()

for f in filenames:
    data = pd.read_excel(f,na_values=['-',''],header = [3,4])
    data.drop(data.columns[[0]], axis=1, inplace=True)
    df = df.append(data)

In [36]:
import pandas as pd
data = pd.read_excel(r'C:\Users\moham\Desktop\cours kit Data\D20201111_170000.xlsx',na_values=['-',''],header = [4])
data.drop(data.columns[[0]], axis=1, inplace=True)

In [37]:
data = data.rename(columns={'Unnamed: 1':'Rang','Unnamed: 2':'Nat/Voile','Unnamed: 3':'Bateau/crew','Heure FR\nHour FR':'Heure FR','Latitude\nLatitude': 'Latitude', 'Longitude\nLongitude':'Longitude', 'Cap\nHeading':'Cap Heading(°) depuis 30mn','Vitesse\nSpeed':'Vitesse(kts) depuis 30mn','VMG\nVMG':'VMG(kts) depuis 30mn','Distance\nDistance':'Distance(nm) depuis 30 mn','Cap\nHeading.1':'Cap Heading(°) depuis le dernier classement','Vitesse\nSpeed.1':'Vitesse(kts) depuis le dernier classement','VMG\nVMG.1':'VMG(kts) depuis le dernier classement','Distance\nDistance.1':'Distance(nm) depuis le dernier classement','Cap\nHeading.2':'Cap Heading(°) depuis 24 heures','Vitesse\nSpeed.2':'Vitesse(kts) depuis 24 heures','VMG\nVMG.2':'VMG(kts) depuis 24 heures','Distance\nDistance.2':'Distance(nm) depuis 24 heures','Unnamed: 19':'DTF(nm)','Unnamed: 20':'DTL(nm)'})

In [38]:
data = data.dropna()

In [39]:
data['Heure FR'] = data['Heure FR'].str.replace('FR\n', '')
data['Nat/Voile'] = data['Nat/Voile'].str.replace('\n','')
data['Bateau/crew'] = data['Bateau/crew'].str.replace('\n','/')
data['Cap Heading(°) depuis le dernier classement'] = data['Cap Heading(°) depuis le dernier classement'].str.replace('°','').astype(int)
data['Cap Heading(°) depuis 30mn'] = data['Cap Heading(°) depuis 30mn'].str.replace('°','').astype(int)
data['Cap Heading(°) depuis 24 heures'] = data['Cap Heading(°) depuis 24 heures'].str.replace('°','').astype(int)
data['Vitesse(kts) depuis le dernier classement'] = data['Vitesse(kts) depuis le dernier classement'].str.replace(' kts','').astype(float)
data['Vitesse(kts) depuis 30mn'] = data['Vitesse(kts) depuis 30mn'].str.replace(' kts','').astype(float)
data['Vitesse(kts) depuis 24 heures'] = data['Vitesse(kts) depuis 24 heures'].str.replace(' kts','').astype(float)
data['VMG(kts) depuis le dernier classement'] = data['VMG(kts) depuis le dernier classement'].str.replace(' kts','').astype(float)
data['VMG(kts) depuis 30mn'] = data['VMG(kts) depuis 30mn'].str.replace(' kts','').astype(float)
data['VMG(kts) depuis 24 heures'] = data['VMG(kts) depuis 24 heures'].str.replace(' kts','').astype(float)
data['Distance(nm) depuis le dernier classement'] = data['Distance(nm) depuis le dernier classement'].str.replace('nm','').astype(float)
data['Distance(nm) depuis 30 mn'] = data['Distance(nm) depuis 30 mn'].str.replace('nm','').astype(float)
data['Distance(nm) depuis 24 heures'] = data['Distance(nm) depuis 24 heures'].str.replace('nm','').astype(float)
data['DTL(nm)'] = data['DTL(nm)'].str.replace('nm','').astype(float)
data['DTF(nm)'] = data['DTF(nm)'].str.replace('nm','').astype(float)
data[['Nationalité','Voile']] = data['Nat/Voile'].str.split(' ',expand = True)
data[['Bateau','Crew']] = data['Bateau/crew'].str.split('/',expand = True)
data.loc[data['Nationalité'].str.contains('FR'),'Nationalité'] = 'FRA' 
data.drop(data.columns[[1,2]], axis=1, inplace=True)
data =data[['Rang','Nationalité', 'Voile', 'Bateau', 'Crew', 'Latitude','Longitude','Cap Heading(°) depuis 30mn','Vitesse(kts) depuis 30mn','Vitesse(kts) depuis 30mn','VMG(kts) depuis 30mn','Distance(nm) depuis 30 mn','Cap Heading(°) depuis le dernier classement','VMG(kts) depuis le dernier classement','Distance(nm) depuis le dernier classement','Cap Heading(°) depuis 24 heures','Vitesse(kts) depuis 24 heures','VMG(kts) depuis 24 heures','Distance(nm) depuis 24 heures','DTF(nm)','DTL(nm)']]

In [40]:
data.head()

,Rang,Nationalité,Voile,Bateau,Crew,Latitude,Longitude,Cap Heading(°) depuis 30mn,Vitesse(kts) depuis 30mn,Vitesse(kts) depuis 30mn,...,Distance(nm) depuis 30 mn,Cap Heading(°) depuis le dernier classement,VMG(kts) depuis le dernier classement,Distance(nm) depuis le dernier classement,Cap Heading(°) depuis 24 heures,Vitesse(kts) depuis 24 heures,VMG(kts) depuis 24 heures,Distance(nm) depuis 24 heures,DTF(nm),DTL(nm)
0,1,FRA,53,Maxime Sorel,V And B Mayenne,40°30.94'N,16°34.72'W,271,10.8,10.8,...,5.4,261,4.6,36.3,250,11.7,7.7,280.5,23673.0,0.0
1,2,FRA,79,Charlie Dalin,APIVIA,40°49.77'N,18°22.88'W,170,11.0,11.0,...,5.5,204,7.7,23.7,232,11.4,9.3,273.4,23675.2,2.2
2,3,FRA,09,Benjamin Dutreux,OMIA - Water Family,40°37.33'N,16°56.95'W,267,12.2,12.2,...,6.1,253,6.4,37.4,250,11.9,7.7,284.9,23675.6,2.6
3,4,FRA,01,Jean Le Cam,Yes we Cam !,40°38.37'N,16°55.37'W,256,13.0,13.0,...,6.5,248,6.6,34.3,248,11.8,7.9,282.7,23676.8,3.8
4,5,FRA,6,Nicolas Troussel,CORUM L'Épargne,40°48.54'N,17°44.56'W,268,10.6,10.6,...,5.3,248,6.8,36.0,250,12.8,8.1,306.9,23679.3,6.3